# Import Requirements

In [1]:
from __future__ import division
import pandas as pd
import numpy as np
from collections import Counter
import time
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
DF = pd.read_csv('/Users/greg/Desktop/FullNeuroIllumina/complete_data.csv')
DF.head()

,Patient,Visit,GDS,Prot,AAPos,Coverage,A,R,N,D,...,L,K,M,F,P,S,T,W,Y,V
0,A0001,R09,0.583333,Tat1,1,38938,0.000051,0.002157,0.000051,0.000077,...,0.006934,0.001695,0.565052,0.000026,0,0.000848,0.000128,0.416637,0,0.000205
1,A0010,R08,1.416667,Tat1,1,171,0.000000,0.000000,0.000000,0.000000,...,0.005848,0.005848,0.584795,0.000000,0,0.000000,0.000000,0.403509,0,0.000000
2,A0013,R09,0.000000,Tat1,1,602,0.000000,0.001661,0.000000,0.000000,...,0.001661,0.004983,0.282392,0.000000,0,0.001661,0.000000,0.209302,0,0.000000
3,A0019,R12,0.250000,Tat1,1,1485,0.000000,0.001347,0.000673,0.000000,...,0.008081,0.003367,0.526599,0.000000,0,0.001347,0.000673,0.452525,0,0.000000
4,A0026,R09,0.583333,Tat1,1,334,0.000000,0.002994,0.000000,0.000000,...,0.008982,0.000000,0.589820,0.000000,0,0.002994,0.000000,0.389222,0,0.000000

In [5]:
def slice_position(df, pos):
    m = df['AAPos'] == pos
    sliced_df = df[m]
    return sliced_df

In [7]:
tat1_length=72
for i in range(1,tat1_length+1):
    pos_df = slice_position(DF, i)
    print (i,pos_df.shape[0]),

(1, 54) (2, 54) (3, 55) (4, 55) (5, 55) (6, 55) (7, 55) (8, 55) (9, 55) (10, 55) (11, 54) (12, 54) (13, 54) (14, 54) (15, 54) (16, 54) (17, 54) (18, 55) (19, 55) (20, 55) (21, 55) (22, 55) (23, 55) (24, 55) (25, 55) (26, 55) (27, 55) (28, 55) (29, 55) (30, 55) (31, 55) (32, 55) (33, 55) (34, 55) (35, 55) (36, 55) (37, 55) (38, 55) (39, 55) (40, 55) (41, 55) (42, 55) (43, 55) (44, 55) (45, 55) (46, 55) (47, 55) (48, 55) (49, 55) (50, 55) (51, 55) (52, 55) (53, 55) (54, 55) (55, 55) (56, 55) (57, 55) (58, 55) (59, 53) (60, 53) (61, 53) (62, 53) (63, 53) (64, 53) (65, 54) (66, 54) (67, 54) (68, 54) (69, 55) (70, 55) (71, 55) (72, 20)