# Import requirements

In [1]:
from __future__ import division
import glob
import pandas as pd
import numpy as np
import itertools
from collections import Counter
import time
import matplotlib.pyplot as plt
%matplotlib inline

# Import sequence data

In [2]:
seq_df = pd.read_csv('/Users/greg/Desktop/FullNeuroIllumina/allPatientProfiles.csv')
print seq_df.shape
seq_df.head()

(4043, 25)

,Patient,Visit,Prot,AAPos,Coverage,A,R,N,D,C,...,L,K,M,F,P,S,T,W,Y,V
0,A0001,R09,Tat1,1,38938,0.000051,0.002157,0.000051,0.000077,0.002080,...,0.006934,0.001695,0.565052,0.000026,0,0.000848,0.000128,0.416637,0,0.000205
1,A0010,R08,Tat1,1,171,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.005848,0.005848,0.584795,0.000000,0,0.000000,0.000000,0.403509,0,0.000000
2,A0013,R09,Tat1,1,602,0.000000,0.001661,0.000000,0.000000,0.000000,...,0.001661,0.004983,0.282392,0.000000,0,0.001661,0.000000,0.209302,0,0.000000
3,A0019,R12,Tat1,1,1485,0.000000,0.001347,0.000673,0.000000,0.000673,...,0.008081,0.003367,0.526599,0.000000,0,0.001347,0.000673,0.452525,0,0.000000
4,A0026,R09,Tat1,1,334,0.000000,0.002994,0.000000,0.000000,0.000000,...,0.008982,0.000000,0.589820,0.000000,0,0.002994,0.000000,0.389222,0,0.000000

# Import clinical data

In [3]:
clinical_df = pd.read_csv('/Users/greg/Desktop/FullNeuroIllumina/full_clinical.csv')
print clinical_df.shape
clinical_df.head()

(3055, 34)

,Patient,Visit,DateOfVisit,Age,Gender,ART,VL,iVL,pVL,CD4,...,TrailB_Heaton_T,LetterFluencyFL_SENAS_T,CategoryFluency_SENAS_T,ROCF_CNNS_T,WorkingMemory_SENAS_T,WordListLearning_SENAS_T,BVMTimmed_CNNS_T,BVMTdelay_CNNS_T,BVMTrecog_CNNS_T,GDS
0,A0001,R00,2006-09-12,51,Male,on,1515,3892,65000,384,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A0001,R01,2007-08-15,52,Male,on,80,3892,65000,724,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A0001,R02,2008-06-04,53,Male,on,80,3892,65000,573,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A0001,R03,2008-11-11,53,Male,on,48,3892,65000,858,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A0001,R04,2009-11-10,54,Male,on,48,3892,65000,689,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
GDS_df = clinical_df[['Patient', 'Visit', 'GDS']]
GDS_df = GDS_df.dropna()
GDS_df.shape
GDS_df.head()

   Patient Visit       GDS
9    A0001   R09  0.583333
24   A0002   R11  2.500000
42   A0004   R10  0.272727
50   A0005   R05  0.750000
65   A0008   R07  0.500000

# Merge dataframes

In [5]:
merged_df = pd.merge(GDS_df, seq_df, 
                  left_on = ['Patient','Visit'],
                  right_on = ['Patient','Visit'],
                  how = 'inner')

merged_df.sort_values(['AAPos','Patient','Visit'],  inplace=True)
merged_df.head()

,Patient,Visit,GDS,Prot,AAPos,Coverage,A,R,N,D,...,L,K,M,F,P,S,T,W,Y,V
0,A0001,R09,0.583333,Tat1,1,38938,0.000051,0.002157,0.000051,0.000077,...,0.006934,0.001695,0.565052,0.000026,0,0.000848,0.000128,0.416637,0,0.000205
71,A0010,R08,1.416667,Tat1,1,171,0.000000,0.000000,0.000000,0.000000,...,0.005848,0.005848,0.584795,0.000000,0,0.000000,0.000000,0.403509,0,0.000000
142,A0013,R09,0.000000,Tat1,1,602,0.000000,0.001661,0.000000,0.000000,...,0.001661,0.004983,0.282392,0.000000,0,0.001661,0.000000,0.209302,0,0.000000
213,A0019,R12,0.250000,Tat1,1,1485,0.000000,0.001347,0.000673,0.000000,...,0.008081,0.003367,0.526599,0.000000,0,0.001347,0.000673,0.452525,0,0.000000
284,A0026,R09,0.583333,Tat1,1,334,0.000000,0.002994,0.000000,0.000000,...,0.008982,0.000000,0.589820,0.000000,0,0.002994,0.000000,0.389222,0,0.000000

In [7]:
merged_df.to_csv('/Users/greg/Desktop/FullNeuroIllumina/complete_data.csv', index=False)

# Survey

In [13]:
def slice_position(df, pos):
    m = df['AAPos'] == pos
    sliced_df = df[m]
    return sliced_df

df = slice_position(merged_df, 1)
a = sum(df['GDS'] < 0.5)
b = sum(df['GDS'] >= 0.5)
print a,b

26 28

In [14]:
for i in range(1,72+1):
    df = slice_position(merged_df, i)
    a = sum(df['GDS'] < 0.5)
    b = sum(df['GDS'] >= 0.5)
    print (a, b),

(26, 28) (26, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (26, 28) (26, 28) (26, 28) (26, 28) (26, 28) (26, 28) (26, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (27, 28) (26, 27) (26, 27) (26, 27) (26, 27) (26, 27) (26, 27) (26, 28) (26, 28) (26, 28) (26, 28) (27, 28) (27, 28) (27, 28) (10, 10)